<div id="hello-world" v-cloak>

  <input v-model="hello" />

  <h1>Hello World</h1>
  <p>(See also <em>assets/styles/pages/hello-world.less</em>, <em>assets/js/pages/hello-world.page.js</em>, and
    <em>api/controllers/view-hello-world.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
